.cuerpo
{
    background-color: antiquewhite;
}
.fila
{
    border:10pxpx solid white;
}
.columna
{
    border: 5px solid white;
    height: 100px;
    background-color: cornflowerblue;
}
.a
{
    height: 350px;
    background-color: greenyellow;
    border: 5px solid white;
}
.b
{
    height: 250px;
    background-color: #FFD74F;
    border: 5px solid white;
}
.c
{
    border: 5px solid white;
    height: 100px;
    background-color: grey;
}
.d
{
    height: 100px;
    background-color: #FF9D1F;
    border: 5px solid white;
}
.e
{
    height: 150px;
    background-color:  #FF5733;
    border: 5px solid white;
}
.f
{
    height: 150px;
    background-color:  cornflowerblue;
    border: 5px solid white;
}
.g
{
    height: 300px;
    background-color: #FF5733;
    border: 5px solid white;
}
.h
{
    height: 300px;
    background-color: yellow;
    border: 5px solid white;
}